[Unit]
Description=adventures gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/adventures
ExecStart=/home/ubuntu/adventures/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target